@import 'navbar.css';
@import 'home.css';
@import 'search-bar.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

.border {
  border: 1px solid crimson;
}
